* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Fontmedium;
    src: url(fuentes/Poppins-Medium.ttf);
}
@font-face {
    font-family: FontSemibold;
    src: url(fuentes/Poppins-SemiBold.ttf);
}
body{
    font-family:Fontmedium;
    margin: 0;
    background: url("./imagenes/fondeDegradado.jpg");
    background-size: cover;
    background-attachment: fixed;
}
header{
    display: flex;
   align-items: center;
   justify-content: center;
}
.logo{
   width:68%;
   display: flex;
   margin-bottom: 0;
  margin-bottom: 9%;
}
.fa-info-circle{
   color: #FFFFFF;
   margin-top: 5%;
   margin-left: 5%;
   font-size:1.5rem;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.formulario_registro{
    color: #575656;
    padding: 6%;
    text-align: center;
    width: 85%;
    border-radius: 16px;
}
form{
    background: rgba(249, 249, 249, 0.89);
    margin-bottom: 12%;
}
h1{
    font-family: Fontmedium;
    font-style: normal;
    line-height: 0.3em;
    font-size: 2em;
}
.formulario_registro input[type="text"], input[type="password"]{
    font-family: Fontmedium;
    font-size: 1rem;
    width: 81%;
    padding: 2%;
    border: none;
}
.input_contenedor {
    margin-bottom: 15px;
    border: 1px solid #d1d1d1;
    background: #FFFFFF;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
    border-radius: 82px;
}
input:hover{
    outline: none;   
}
.icon_form{
    color: #575656;
    text-align: center;
    min-width: 25%;
}
.btnIngresar{
    display: flex;
    justify-content: space-around;
}
button {
    display: inline-block;
    color: #FFFFFF;
    width: 60%;
    height: 35px;
    padding: 0 5px;
    background: #E60712;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: 6% auto;
    letter-spacing: 0.05em;
}
.btnFG{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.submits {
    width: 45%;
    margin-left: 5%;
}
.frgt-pass {background: #3A5898;}
.sign-up {background: #A4A4A4;}
.textoS{
    color: #575656;
    font-size: 15px;
}
a{
    color: #FF0505;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #FF0505;
  }
.boton_registrarse{
    font-family: Fontmedium;
    background: #E60712;
    color: white;
    border-radius: 16px;
    padding: 3.5% 10%;
    width: 58%;
    margin: 5%;
    font-size: 1rem;
    cursor: pointer;
}
.text_form{
font-size: 0.8rem;
}
.formulario_registro p{
    font-size: 0.9rem;
    margin-top: 0.5rem;
    padding: 0%;
}
.terminos{
    color:  #575656;
}
.inicio_sesion{
    text-decoration: none;
    font-family:FontSemibold;
    color: #FF0505;
    font-size: 1.1em;
}
