* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.alerta{
    color: #E60712;
}
@font-face {
    font-family: Fontmedium;
    src: url(fuentes/Poppins-Medium.ttf);
}
@font-face {
    font-family: FontSemibold;
    src: url(fuentes/Poppins-SemiBold.ttf);
}
body{
    font-family:Fontmedium;
    margin: 0;
    background: url("./imagenes/fondeDegradado.jpg");
    background-size: cover;
    background-attachment: fixed;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
   width:68%;
   display: flex;
   margin-bottom: 0;
   margin-bottom: 9%;
}
.fa-info-circle{
   color: #FFFFFF;
   margin-top: 5%;
   margin-left: 5%;
   font-size:1.5rem;
}
.espacio-login{
    display: flex;
    align-items: center;
    justify-content: center;
}
.formulario_registro{
    color: #575656;
    padding: 6%;
    margin-left: 7%;
    text-align: center;
    width: 85%;
    border-radius: 16px;
}
form{
    background: rgba(249, 249, 249, 0.89);
    margin-bottom: 12%;
}
h1{
    font-family: Fontmedium;
    font-style: normal;
    line-height: 0.3em;
    font-size: 2em;
}
/* ------vista login----------- */
.formulario_registro input[type="text"], input[type="password"]{
    font-family: Fontmedium;
    font-size: 1rem;
    width: 81%;
    padding: 2%;
    border: none;
}
.input_contenedor {
    margin-bottom: 15px;
    border: 1px solid #d1d1d1;
    background: #FFFFFF;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
    border-radius: 82px;
}
input:hover{
    outline: none;   
}
.icon_form{
    color: #575656;
    text-align: center;
    min-width: 25%;
}
.btnIngresar{
    display: flex;
    font-family: Fontmedium;
    justify-content: space-around;
}
button {
    color: #FFFFFF;
    width: 58%;
    margin: 5% auto;
    height: 17%;
    padding: 3.5% 5%;
    background: #E60712;
    border-radius: 9px;
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    transition: all 0.2s linear;
    letter-spacing: 0.05em;
    font-family: Fontmedium;
    font-size: 0.9em;
}
.btnFG{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: Fontmedium;
}
.submits {
    width: 45%;
    margin-left: 5%;
}
.frgt-pass {background: #3A5898;}
.sign-up {background: #A4A4A4;}
.texto_inicio_opcional{
    color: #575656;
    font-size: 0.9rem;
}
a{
    color: #FF0505;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #FF0505;
  }
  /* ------vista registro----------- */
.boton_registrarse{
    font-family: Fontmedium;
    background: #E60712;
    color: white;
    border-radius: 16px;
    padding: 3.5% 10%;
    width: 58%;
    margin: 5%;
    font-size: 1rem;
    cursor: pointer;
}
.text_form{
font-size: 0.8rem;
}
.formulario_registro p{
    font-size: 0.9rem;
    margin-top: 0.5rem;
    padding: 0%;
}
.terminos{
    color:  #333333;
}
.inicio_sesion{
    text-decoration: none;
    font-family:FontSemibold;
    color: #FF0505;
    font-size: 1.1em;
}
.separador{
    width: 13%;
    display: inline-block;
}
.portada{
    display: none;
}
/* ------vista home----------- */
/* body{
    /* background: none; 
}*/
.header_navigation_home{
    background: linear-gradient(180deg, #0CE600 2.6%, #757D00 100%);
    align-items: center;
    justify-content: space-around;
    display: flex;
} 
.header_logo{
    width: 55%;
    padding: 2.2%
}
.menu{
    width: 2rem;
    height: 0.5rem;
    background-color: white;
    border-radius: 10px;
}
.conteiner_logo{
    
    align-items: center;
}
.post{
    width: 65%;
    background: #FFFFFF;
    border: 2px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_menu{
    /* width: 50px;
    height: 120px; */
    color: rgb(252, 22, 22);
    border-radius:50% ;
    z-index: 3;
    border: red;
}

.description_text{
    border: 2px solid rgba(0, 0, 0, 0.2);
    width: 80%;
    height: 200px;
    align-items: flex-end;
    display: flex;
    
}
.button_send{
    background-color: red;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    justify-content: space-between;
}
/* vista iphone 5 */
@media screen and (max-width:320px){
    h1{
        font-size: 1.4em;
    }
    .texto_inicio_opcional{
        font-size: 0.8rem;
    }
    .separador{
        width: 8%;
        display: inline-block;
    }
    button{
        font-size: 0.7em;
    }
}
@media screen and (min-width:768px){
/* ------vista registrarse----------- */
h1{
    font-size: 2.5em;
}
.formulario_registro input[type="text"], input[type="password"]{
    font-size: 1.5rem;
}
.iconLogin{
    font-size: 1.5rem;
}
button{
    font-size: 1.6rem;
}
.texto_inicio_opcional{
    font-size: 1.5rem;
}
.separador{
    width: 16%;
    display: inline-block;
}
.text_form{
    font-size: 1.4rem;
}
.boton_registrarse{
    font-size: 1.5rem;
}
.formulario_registro p{
    font-size: 1.5rem;
}
.portada{
    display: none;
}
}
@media screen and (min-width:1024px){
/* ------vista login----------- */
.iconLogin{
    font-size: 1.1rem;
}
.separador{
    width: 1.4em;
}
.texto_inicio_opcional{
    font-size:0.9em ;
}
button{
    font-size: 0.9rem;
}
/* ------vista registrarse----------- */
body{
    background: none;
}
.icon_info{
    display: none;
}
.espacio-portada{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.portada{
    background: url("./imagenes/fondeDegradado.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;  
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
form{
    margin: auto;  
}
.espacio-login{
    background: linear-gradient(180deg, rgba(12, 230, 0, 0.3) , rgba(117, 125, 0, 0.3));
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
} 

.text_form{
    font-size: 0.9em;
}
.formulario_registro p{
    font-size: 1.1em;
}
h1{
    font-size: 1.8rem;
}
.boton_registrarse {
    font-size: 1.05rem;
}
.formulario_registro input[type="text"], input[type="password"] {
    font-size: 1.1rem;
}
}
/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Fontmedium;
    src: url(fuentes/Poppins-Medium.ttf);
}
@font-face {
    font-family: FontSemibold;
    src: url(fuentes/Poppins-SemiBold.ttf);
}
body{
    font-family:Fontmedium;
    margin: 0;
    background: url("./imagenes/fondeDegradado.jpg");
    background-size: cover;
    background-attachment: fixed;
}
header{
    display: flex;
   align-items: center;
   justify-content: center;
}
.logo{
   width:68%;
   display: flex;
   margin-bottom: 0;
  margin-bottom: 9%;
}
.fa-info-circle{
   color: #FFFFFF;
   margin-top: 5%;
   margin-left: 5%;
   font-size:1.5rem;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.formulario_registro{
    color: #575656;
    padding: 6%;
    text-align: center;
    width: 85%;
    border-radius: 16px;
}
form{
    background: rgba(249, 249, 249, 0.89);
    margin-bottom: 12%;
}
h1{
    font-family: Fontmedium;
    font-style: normal;
    line-height: 0.3em;
    font-size: 2em;
}
.formulario_registro input[type="text"], input[type="password"]{
    font-family: Fontmedium;
    font-size: 1rem;
    width: 81%;
    padding: 2%;
    border: none;
}
.input_contenedor {
    margin-bottom: 15px;
    border: 1px solid #d1d1d1;
    background: #FFFFFF;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
    border-radius: 82px;
}
input:hover{
    outline: none;   
}
.icon_form{
    color: #575656;
    text-align: center;
    min-width: 25%;
}
.btnIngresar{
    display: flex;
    justify-content: space-around;
}
button {
    display: inline-block;
    color: #FFFFFF;
    width: 60%;
    height: 35px;
    padding: 0 5px;
    background: #E60712;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: 6% auto;
    letter-spacing: 0.05em;
}
.btnFG{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.submits {
    width: 45%;
    margin-left: 5%;
}
.frgt-pass {background: #3A5898;}
.sign-up {background: #A4A4A4;}
.textoS{
    color: #575656;
    font-size: 15px;
}
a{
    color: #FF0505;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #FF0505;
  }
.boton_registrarse{
    font-family: Fontmedium;
    background: #E60712;
    color: white;
    border-radius: 16px;
    padding: 3.5% 10%;
    width: 58%;
    margin: 5%;
    font-size: 1rem;
    cursor: pointer;
}
.text_form{
font-size: 0.8rem;
}
.formulario_registro p{
    font-size: 0.9rem;
    margin-top: 0.5rem;
    padding: 0%;
}
.terminos{
    color:  #575656;
}
.inicio_sesion{
    text-decoration: none;
    font-family:FontSemibold;
    color: #FF0505;
    font-size: 1.1em;
} */
